*{
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    color: hsl(259, 100%, 65%);
    color: hsl(0, 100%, 67%);
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 94%);
    color: hsl(0, 0%, 86%);
    color: hsl(0, 1%, 44%);
    color: hsl(0, 0%, 8%);

    background-color: hsl(0, 0%, 86%);
    font-family: 'Poppins', sans-serif;
}

.app {
    background-color: white;
    height: 600px;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    border-radius: 20px;
    border-bottom-right-radius: 30%;
}

.input-section{
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    

    
}
.input-area *{
    display: block;
}
.input-area {
    margin-left: 30px;
    
}
.input-area label {
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 70%;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.input-area input{
    width: 130px;
    height: 45px;
    padding: 28px 20px;
    font-size: 32px;
    font-weight: bold;
    opacity: 80%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    text-transform: uppercase;
 
}
.input-area input:focus {
   outline: none;
   border-color: hsl(259, 100%, 65%) ;
   background-color: none;
   
}
.input-area small{
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    margin-top: 8px;
    color: hsl(0, 100%, 67%);
    opacity: 0.81;
    
}
.border-line {
    background-color: rgb(199, 199, 199);
    height: 1.5px;
    width: 78%;
    margin: 0 auto;
    margin-left: 9%;
    opacity: 1;
    margin-top: 50px;
    position: relative;

}

.calc-btn img {
    
    background-color: hsl(259, 100%, 65%);
    height: 80px;
    width: 80px;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: -40px;
    transition: 0.5s background-color;
    cursor: pointer;
}
.calc-btn img:hover {
    background-color: black;
    
}



/* output area style */
.output-section {
    margin: 10px 70px;
    margin-top: 50px;
    margin-bottom: 0;

}
.row {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
   
}

.row h1{
    display: inline-block;
    color: hsl(259, 100%, 65%);
    font-size: 65px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.row h2 {
    display: inline-block;
    margin-left: 2px;
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 0;
}



@media screen and (max-width: 770px) {
    .app {
        width: 450px;
        overflow: hidden;
    }
    .input-section {
        margin-left: 0;
    }
    .input-area {
        margin-left: 15px;
    }
    .calc-btn img {
        left: 50%;
        transform: translateX(-50%);
    }
    .border-line{
        width: 90%;
        margin-left: 22px;
        margin-top: 80px;
    }
    .output-section{
        margin-left: 20px;
    }
}


@media screen and (max-width: 470px) {

    .app {
        width: 380px;
        height:  550px;
    }
    .input-section input {
        margin-right: -10px;
        width: 110px;
        font-size: 25px;
    }
    .output-section h2{
        font-size: 50px;
    }
    .output-section h1{
        font-size: 50px;
    }
}
